@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Exercise02 - {0}", "Ex02");

    var artistid = Request.QueryString["aid"];
    if (artistid.IsEmpty())
    {
        Response.Redirect("Exercise02_A");
    }
    var connection = Database.Open("Chinook");
    var sqlcommandname = @"SELECT Name 
                            FROM Artists
                            WHERE ArtistId = @0";
    var sqlcommandid = @"SELECT AlbumId, Title, ReleaseYear, ReleaseLabel 
                        FROM Albums
                        WHERE ArtistId = @0
                        ORDER BY Title";
    var sqlexecutename = connection.QueryValue(sqlcommandname,artistid);
    var sqlexecuteid = connection.Query(sqlcommandid, artistid);
    var grid = new WebGrid(sqlexecuteid);

}


@section banner
{
    <h1>Exercise 2: Database Query</h1>
}

<div class="offset-1">
    <h3>Albums of @sqlexecutename</h3><br/>
    @grid.GetHtml()
</div>

